.cabecalho {
    background-color: blue;
    color: #000;
}

h1, h2 {
    font-family: 'Times New Roman';
}

.menu a,.links{
    font-weight: bold;
    color: #000;
}
.container {
    padding: 20px;
}
.conteudo {
    line-height: 1.5;
}
.ctn{
    border: 1px solid gray;
    padding: 10px;
}
p {
    color: green;
}